/*contenedores border*/
div.contenedor_menu_lateral_inferior, div.contenedor_menu_superior, div.contenedor_contenido_principal, div.contenedor_sugerencias, div.container-xxl {
    border: solid 1px black;
}


/*contenedor contenedor_tei_index*/
div.contenedor_menu_superior{
    text-align: center;
    /*background: linear-gradient(70deg, white, white);*/
    background-color: rgba(255,255,255,0.95);
}
/*Titulo Tlaxcala En Imágenes*/
h1.titulo_principal_h1{
    color: #EBCA9A;
    font-family: 'League Gothic', sans-serif;
    font-size: 1.7rem;
}
/*subtitulo_h6 por tad*/
h6.subtitulo_h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}
/*span_tad TAD*/
span.span_tad {
    color: #EBCA9A;
    font-weight: bold;
    margin-left: 70px;
    font-size: 0.9rem;
}
/*Fin Titulo Tlaxcala En Imágenes*/

/*Menu inferior*/
/*Los estilos de este menu funcionara hasta antes de llegar al breakpoint de los 768px*/
/*Pasados los 768px se le dara otros estilos al mismo menu*/

/*.contenedor_menu_lateral_inferior*/
div.contenedor_menu_lateral_inferior {
    background-color: rgba(255,255,255,0.95);
}
/*Nombre de opciones*/
/*span.nombre_opciones {
    /*display: none;
}*/
/*Iconos*/
img.imgSvg {
    width: 20px;
}

/*Fin Menu inferior*/



/* Div publicidad/sugerencias */
div.sugerencias {
    display: none;
}



/*X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    /*Titulo Tlaxcala En Imágenes*/
    h1.titulo_principal_h1{
        font-size: 2.4rem;
    }
    /*subtitulo_h6 por tad*/
    h6.subtitulo_h6 {
        font-size: 1.1rem;
    }
    /*span_tad TAD*/
    span.span_tad {
        font-size: 1.1rem;
        margin-top: 7px;
    }
    /*Fin Titulo Tlaxcala En Imágenes*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    /*Contenedor menu lateral-superior*/
    div.contenedor_menu_lateral_inferior {
        position: sticky;
        top: 0;
    }
    ul.menu_inferior_lateral{
        flex-direction: column;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* Div publicidad/sugerencias */
    div.sugerencias {
        display: block;
    }
 }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {  }
