/*contenedores border*/
div.contenedor_menu_lateral_inferior, div.contenedor_menu_superior, div.contenedor_contenido_principal, div.contenedor_sugerencias, div.contenedor_principal {
    border: solid 1px black;
}


/*contenedor contenedor_tei_index*/
div.contenedor_menu_superior{
    text-align: center;
    /*background: linear-gradient(70deg, white, white);*/
    background-color: rgba(255,255,255,0.95);
}
/*Titulo Tlaxcala En Imágenes*/
h1.titulo_principal_h1{
    color: #EBCA9A;
    font-family: 'League Gothic', sans-serif;
    font-size: 1.8rem;
    margin: 5px 0;
}
/*Por TAD*/
h6.por_tad {
    display: none;
}
/*subtitulo_h6 por tad*/
h6.subtitulo_h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}
/*span_tad TAD*/
span.span_tad {
    color: #EBCA9A;
    font-weight: bold;
    margin-left: 70px;
    font-size: 0.9rem;
}
/*Fin Titulo Tlaxcala En Imágenes*/

/*Menu inferior*/
/*Los estilos de este menu funcionara hasta antes de llegar al breakpoint de los 768px*/
/*Pasados los 768px se le dara otros estilos al mismo menu*/

/*.contenedor_menu_lateral_inferior*/
div.contenedor_menu_lateral_inferior {
    background-color: rgba(255,255,255,0.95);
}
/*Nombre de opciones*/
span.nombre_opciones_menu {
    display: none;
}
/*etiqueta a*/
a.opciones_menu {
    padding: 10px 15px;
}
/*Iconos de menu*/
img.img_icono_menu {
    width: 1.5rem;
}

/*Fin Menu inferior*/

/* Div publicidad/sugerencias */
div.sugerencias {
    display: none;
}


/*ESTILOS A ENCABEZADO PUBLICACION*/
/*Link con imagen de perfil*/
a.link_perfil_img img {
    height: 45px;
    margin: 5px 0px;
    width: 45px;
}
/*Nombre de usuario*/
h5.nombre_usuario_publicacion {
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 2px;
    font-size: 1.3rem;
    margin: 7px 0;
}
/*Link del nombre de perfil*/
a.link_perfil_usuario {
    text-decoration: none;
    color: #000000;
}
/*ubicacion nombre del municipio*/
p.ubicacion {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}
/*Boton de opciones en la publicacion*/
button.btn_opciones_modal {
    background-color: transparent;
    border: 0;
    margin-top: 10px;
}


/*X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    /*Titulo Tlaxcala En Imágenes*/
    h1.titulo_principal_h1{
        font-size: 2.4rem;
    }
    /*subtitulo_h6 por tad*/
    h6.subtitulo_h6 {
        font-size: 1.1rem;
    }
    /*span_tad TAD*/
    span.span_tad {
        font-size: 1.1rem;
        margin-top: 7px;
    }
    /*Fin Titulo Tlaxcala En Imágenes*/

    /*Menu inferior*/
    /*etiqueta a*/
    a.opciones_menu {
        padding: 10px 35px;
    }
    /*Iconos de menu*/
    img.img_icono_menu {
        width: 1.8rem;
    }
    /*Fin Menu inferior*/

    /*ESTILOS A ENCABEZADO PUBLICACION*/
    /*Link con imagen de perfil*/
    a.link_perfil_img img {
        height: 65px;
        width: 65px;
    }
    /*Nombre de usuario*/
    h5.nombre_usuario_publicacion {
        font-size: 1.3rem;
    }
    /*Link del nombre de perfil*/
    a.link_perfil_usuario {
        text-decoration: none;
        color: #000000;
    }


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    /*Contenedor menu lateral-superior*/
    div.contenedor_menu_lateral_inferior {
        position: sticky;
        top: 0;
    }
    ul.menu_inferior_lateral{
        flex-direction: column;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* Div publicidad/sugerencias */
    div.sugerencias {
        display: block;
    }
 }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    /*este contenedor es igual a container-xxl de bootstrap*/
    /*Lo cambio porque necesito que se quite el margen del container-xxl en todas las medidas antes de los 1400px*/
    /*Ademas se puso la clase g-0 para quitar los padding a las columnas en el div del row*/
    div.contenedor_principal {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-right: auto;
        margin-left: auto;
        max-width: 1320px;
    }
 }
